# Path to Path of Exile 2 installation
POE2_GAME_PATH=/home/ix/.steam/debian-installation/steamapps/common/Path of Exile 2

# Output path for extracted files
POE2_EXTRACTED_PATH=./extracted

# Path to Oodle library (liboo2corelinux.so)
# Required for bundle decompression.
# If not set, defaults to POE2_GAME_PATH/liboo2corelinux.so
POE2_OODLE_PATH=/path/to/liboo2corelinux.so
