# Binaries
/poe2-extractor
/poe2-datconverter
*.exe
*.dll
*.so
*.dylib

# Extracted Data
/extracted/
/files_to_extract.txt
/additional_files.txt

# Temporary Files
/tmp/
*.log
*.tmp

# Environment Variables
.env

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Go
/bin/
/dist/
vendor/
